$font-family: 'Montserrat', sans-serif;
$content-width: 1180px;
$container-offset: 30px;
$container-width: calc($content-width + $container-offset * 2);

$light-color: #fff;
$green: #1eb43e;
$gray: #242424;
