.reviews {
  padding-bottom: 60px;
  
  .title {
    text-align: center;
    margin-bottom: 40px;
  }

  &__slide {
    margin-left: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-reverse {
      display: flex;
      flex-direction: column;

      .comment {
        order: 1;
      }
    }
  }
}

.comment {
  border-radius: 8px;
  background-color: #fff5ed;
  padding: 16px;
  margin-bottom: 20px;
  width: 280px;

  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  &__avatar {
    width: 36px;
    height: 36px;
    margin-right: 10px;
  }

  &__name {
    font-weight: 700;
    font-size: 1.4rem;
  }

  &__time {
    color: #454545;
    font-size: 1.2rem;
    margin-left: 10px;
  }

  &__wr {
    display: flex;
    align-items: center;
  }

  &__content {
    color: #161616;
    font-size: 1.3rem;
  }
}

.post {
  box-shadow: 0 4px 24px rgb(0 0 0 / 8%);
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 20px;
  width: 280px;

  &__info {
    display: flex;
    align-items: center;
    padding: 10px 16px;
  }

  &__avatar {
    width: 36px;
    height: 36px;
    margin-right: 10px;
  }

  &__name {
    font-weight: 700;
    font-size: 1.4rem;
  }

  &__img {
    width: 100%;
  }

  &__likes {
    padding: 10px 16px;
    display: flex;
    align-items: centers;

    img {
      width: 14px;
      height: 14px;
      margin-right: 5px;
    }

    span {
      font-size: 1.2rem;
    }
  }

  &__content {
    padding: 0px 16px 10px 16px;

    span {
      font-weight: 700;
      font-size: 1.3rem;

      span {
        font-weight: 400;
      }
    }
  }
}
