<section class="about" id="aboutus">
  <div class="container about__container">
    <h2 class="title wow animate__animated animate__slideInRight">
      Почему “<span>Я</span>”!
    </h2>

    <p class="sub-title">
      Твой имидж - инструмент успеха? Ты сам решаешь, как тебе выглядеть? Барбершоп “Я” - это место
      где мужчина, знающий, чего хочет от жизни, формирует свой стиль. Мы - мужская парикмахерская,
      собравшая лучших профессионалов Москвы, которые воплотят в реальность твое желание выглядеть
      стильно.
    </p>

  </div>
</section>