<section class="about">
  <div class="container">
    <h2 class="title wow animate__animated animate__slideInRight">
      БАРБЕРШОП “Я” В МОСКВЕ - ЭТО МОЙ БАРБЕРШОП!
    </h2>

    <p class="sub-title">
      Твой имидж - инструмент успеха? Ты сам решаешь, как тебе выглядеть? Барбершоп “Я” - это место
      где мужчина, знающий, чего хочет от жизни, формирует свой стиль. Мы - мужская парикмахерская,
      собравшая лучших профессионалов Москвы, которые воплотят в реальность твое желание выглядеть
      стильно.
    </p>

    <ul class="about__numbers">
      <li>
        <div class="count" data-from="0" data-to="1500">1,500 +</div>
        <p>МУЖЧИН СТРИГУТСЯ У НАС ЕЖЕМЕСЯЧНО</p>
      </li>
      <li>
        <div class="count" data-from="0" data-to="12">12</div>
        <p>МАСТЕРОВ ВЫСОКОГО УРОВНЯ</p>
      </li>
      <li>
        <div class="count" data-from="0" data-to="2">2</div>
        <p>БАРБЕРШОПА В МОСКВЕ</p>
      </li>
    </ul>
  </div>
</section>
