<section class="cert" id="certificate">
  <div class="container cert__container">
    <div class="cert__text wow animate__animated animate__fadeInUp">
      <h4 class="title">Стильный подарок</h4>
      <p class="sub-title">
        Мы подготовили несколько подарочных сертификатов на разные суммы и упаковали их в оригинальные конверты, чтобы
        подарок был приятным во всех смыслах.
      </p>

      <ul class="price__list">
        <li class="price__item price__item-no-hover">
          <span class="price__name">Мужская стрижка</span>
          <div class="price__info">
            <span class="price__price">2 200 ₽</span>
          </div>
        </li>
        <li class="price__item price__item-no-hover">
          <span class="price__name">Мужская стрижка и борода</span>
          <div class="price__info">
            <span class="price__price">3 200 ₽</span>
          </div>
        </li>
        <li class="price__item price__item-no-hover">
          <span class="price__name">На любые услуги</span>
          <div class="price__info">
            <span class="price__price">2 000 ₽ / 3 000 ₽ / 5 000 ₽ </span>
          </div>
        </li>
      </ul>

      <button class="btn-reset order cert__btn">Заказать</button>

    </div>
    <div class="cert__img wow animate__animated animate__fadeInUp">
      <picture class="price__img">
        <source type="image/webp" srcset="img/1x1.webp" data-srcset="img/certificate@2x.webp" />
        <img class="lazy" src="img/1x1.webp" data-src="img/certificate@2x.png" alt="certificate" />
      </picture>
    </div>
  </div>
</section>