<section class="contacts wow animate__animated animate__fadeInUp" id="contacts">
  <div class="container contacts__container">
    <div class="contacts__map map"></div>
    <div class="contacts__address address">
      <h6 class="address__title">Контакты</h6>
      <p>Адреса</p>
      <ul class="address__list">
        <li class="address__item">
          <img src="img/icons/metro.svg" alt="metro">
          <span>Тульская</span>
          <p>Новодониловская набережная, д. 10</p>
        </li>
        <li class="address__item">
          <img src="img/icons/metro.svg" alt="metro">
          <span>Рижская</span>
          <p>ул. Трифоновская, д.11, к.1</p>
        </li>
      </ul>
      <p>Телефон</p>
      <a class="header__phone header__phone-black" href="tel:84951892343">
        <span>8 495 189-23-43</span>
      </a>
      <p>E-mail</p>
      <a class="sub-title" href="mailto:hello@barbershop.ru">hello@barbershop.ru</a>
      <p>Часы работы</p>
      <span class="sub-title">Будни: с 10:00 до 22:00, <br> Выходные: с 10:00 до 22:00</span>

      <div class="writeus">
        <h6 class="address__title">Пишите нам</h6>
        <div class="writeus__btns">
          <button class="btn-reset btn-write t">
            <img src="img/telegram-icon.svg" alt="t">
            Telegram
          </button>
          <button class="btn-reset btn-write w">
            <img src="img/WA_Logo.svg" alt="w">
            WhatsApp
          </button>
        </div>
      </div>
    </div>
  </div>
</section>