<footer class="footer">
  <div class="footer__container">
    <a href="#top">
      <img class="wow animate__animated animate__slideInLeft" src="img/logo-black.svg" width="40" height="40"
        alt="logo barberahop" />
    </a>

    <ul class="menu__list footer__menu">
      <li><a href="#">О нас</a></li>
      <li><a href="#">Цены</a></li>
      <li><a href="#">Блог</a></li>
      <li><a href="#">Сертификат</a></li>
      <li><a href="#">Франшиза</a></li>
      <li><a href="#">Дисконт</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>

    <button class="btn menu__btn order footer__btn wow animate__animated animate__slideInRight">
      Онлайн запись
    </button>
  </div>
</footer>