<footer class="footer">
  <div class="footer__container">
    <a href="#top" data-link="true">
      <img src="img/logo-black.svg" width="40" height="40" alt="logo barberahop" />
    </a>

    <ul class="menu__list footer__menu">
      <li><a data-link="true" href="#aboutus">О нас</a></li>
      <li><a data-link="true" href="#price">Цены</a></li>
      <li><a data-link="true" href="#certificate">Сертификат</a></li>
      <li><a data-link="true" href="#reviews">Отзывы</a></li>
      <li><a data-link="true" href="#contacts">Контакты</a></li>
    </ul>

    <button class="btn menu__btn order footer__btn">
      Онлайн запись
    </button>
  </div>
</footer>