<div class="hero">
  <video class="hero__video" src="barbershop-video-bg.mp4" poster="img/barbershop.jpeg" autoplay muted loop playsinline>
  </video>

  <div class="hero__info">
    <div class="hero__logo wow animate__animated animate__slideInLeft">
      <img src="img/logo.svg" width="220" height="220" alt="logo barbershop" />
    </div>

    <div class="hero__text wow animate__animated animate__slideInRight">
      <h1>Кем видят тебя сегодня?</h1>
      <p>Благодаря нам, люди увидят тебя другим!</p>
    </div>
  </div>
</div>