<section class="interior">
  <h5 class="title interior__title">Наш интерьер</h5>

  <div class="swiper interior__slider">

    <div class="swiper-wrapper interior__wrapper">
      <div class="swiper-slide interior__slide">
        <picture>
          <source type="image/webp" srcset="img/t1.webp" data-srcset="img/t1.webp" />
          <img class="lazy" src="img/t1.jpeg" data-src="img/t1.jpeg" alt="interior" />
        </picture>
      </div>
      <div class="swiper-slide interior__slide">
        <picture>
          <source type="image/webp" srcset="img/1x1.webp" data-srcset="img/t2.webp" />
          <img class="lazy" src="img/1x1.webp" data-src="img/t2.jpeg" alt="interior" />
        </picture>
      </div>
      <div class="swiper-slide interior__slide">
        <picture>
          <source type="image/webp" srcset="img/1x1.webp" data-srcset="img/t3.webp" />
          <img class="lazy" src="img/1x1.webp" data-src="img/t3.jpeg" alt="interior" />
        </picture>
      </div>
      <div class="swiper-slide interior__slide">
        <picture>
          <source type="image/webp" srcset="img/1x1.webp" data-srcset="img/t4.webp" />
          <img class="lazy" src="img/1x1.webp" data-src="img/t4.jpeg" alt="interior" />
        </picture>
      </div>
      <div class="swiper-slide interior__slide">
        <picture>
          <source type="image/webp" srcset="img/t5.webp" data-srcset="img/t5.webp" />
          <img class="lazy" src="img/t5.jpeg" data-src="img/t5.jpeg" alt="interior" />
        </picture>
      </div>
    </div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

  </div>
</section>