<div class="meeting">
  <div class="container meeting__container">
    <div class="meeting__discount wow animate__animated animate__fadeInUp">
      <div class="welcome">
        <img src="img/comments/gloves.svg" alt="gloves">
        <p>Давайте познакомимся!</p>
        <span>Мы всегда рады новым лицам, поэтому первую стрижку вы получаете со скидкой!</span>

        <div class="welcome__price">
          <p class="welcome__prop">Первая стрижка</p>
          <div class="price__info">
            <span class="price__price price__price-old">1 700 ₽</span>
            <span class="price__price">1 400 ₽</span>
          </div>
        </div>
      </div>
      <div class="meeting__img">
        <picture>
          <source type="image/webp" srcset="img/1x1.webp" data-srcset="img/t3.webp" />
          <img class="lazy" src="img/1x1.webp" data-src="img/t3.jpeg" alt="interior" />
        </picture>
      </div>

      <div class="welcome welcome__cashback">
        <img src="img/comments/pers.svg" alt="pers">
        <p>До 10%
          кэшбэка</p>
        <span>С каждой стрижки или покупки получаете баллы, которые можно тратить на любые услуги или косметику.</span>
        <span>5% Кэшбэк получают все начиная с первой стрижки
        </span>
      </div>
    </div>

    <div class="swiper meeting__slider wow animate__animated animate__fadeInUp">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source type="image/webp" srcset="img/1x1.webp" data-srcset="img/comments/s1.webp" />
            <img class="lazy" src="img/1x1.webp" data-src="img/comments/s1.jpeg" alt="s" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source type="image/webp" srcset="img/1x1.webp" data-srcset="img/comments/s2.webp" />
            <img class="lazy" src="img/1x1.webp" data-src="img/comments/s2.jpeg" alt="s" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source type="image/webp" srcset="img/1x1.webp" data-srcset="img/comments/s3.webp" />
            <img class="lazy" src="img/1x1.webp" data-src="img/comments/s3.jpeg" alt="s" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source type="image/webp" srcset="img/1x1.webp" data-srcset="img/comments/s4.webp" />
            <img class="lazy" src="img/1x1.webp" data-src="img/comments/s4.jpeg" alt="s" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source type="image/webp" srcset="img/1x1.webp" data-srcset="img/comments/s5.webp" />
            <img class="lazy" src="img/1x1.webp" data-src="img/comments/s5.jpeg" alt="s" />
          </picture>
        </div>
        <div class="swiper-slide">
          <picture>
            <source type="image/webp" srcset="img/1x1.webp" data-srcset="img/comments/s6.webp" />
            <img class="lazy" src="img/1x1.webp" data-src="img/comments/s6.jpeg" alt="s" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</div>