<section class="partners">
  <div class="container partners__container">
    <h6 class="title wow animate__animated animate__slideInLeft">Партнеры</h6>

    <ul class="partners__list">
      <li>
        <a href="https://www.misslisse.ru" target="blanc">
          <picture>
            <source type="image/webp" srcset="img/1x1.webp" data-srcset="img/miss.webp" />
            <img class="lazy" src="img/1x1.webp" data-src="img/miss.png" alt="barbershop partners"
              width="100" />
          </picture>
        </a>
      </li>

      <li>
        <a href="https://unclebeard.ru" target="blanc">
          <picture>
            <source type="image/webp" srcset="img/1x1.webp" data-srcset="img/part.webp" />
            <img class="lazy" src="img/1x1.webp" data-src="img/part.png" alt="barbershop partners"
              width="100" />
          </picture>
        </a>
      </li>

      <li>
        <a href="http://www.18fit.ru" target="blanc">
          <picture>
            <source type="image/webp" srcset="img/1x1.webp" data-srcset="img/baren.webp" />
            <img class="lazy" src="img/1x1.webp" data-src="img/baren.png" alt="barbershop partners"
              width="100" />
          </picture>
        </a>
      </li>
    </ul>
  </div>
</section>