<section class="price" id="price">
  <div class="container">
    <h3 class="price__title-head">Цены и услуги</h3>

    <div class="price__wrapper">
      <div class="price__services">
        <div class="price__column">
          <div class="price__table">
            <h4 class="price__title">Стрижка <span class="price__card">Принимаем карты</span></h4>

            <ul class="price__list">
              <li class="price__item active" data-title="Первая стрижка"
                data-text="Мастера barbershop работают со стрижками любого уровня сложности и стиля. Ребята внимательно выслушают предпочтения или помогут подобрать ту стрижку, которая подойдет вашему типу лица, структуре волос и стилю жизни. Помимо самой стрижки в услугу входит мытье головы, а так же укладка профессиональными средствами из США, Нидерландов и Великобритании."
                data-img="img/services/1.png">
                <span class="price__name">Первая стрижка</span>
                <div class="price__info">
                  <span class="price__time">50 мин /</span>
                  <span class="price__price">1 700 ₽</span>
                </div>
              </li>

              <li class="price__item" data-title="Мужская стрижка"
                data-text="Мастера barbershop работают со стрижками любого уровня сложности и стиля. Ребята внимательно выслушают предпочтения или помогут подобрать ту стрижку, которая подойдет вашему типу лица, структуре волос и стилю жизни. Помимо самой стрижки в услугу входит мытье головы, а так же укладка профессиональными средствами из США, Нидерландов и Великобритании."
                data-img="img/services/1.png">
                <span class="price__name">Мужская стрижка</span>
                <div class="price__info">
                  <span class="price__time">50 мин /</span>
                  <span class="price__price">2 000 ₽</span>
                </div>
              </li>

              <li class="price__item" data-title="Стрижка машинкой"
                data-text="Стрижка машинкой одной или двумя насадками. В стоимость услуги входит мытье головы, стрижка, а так же укладка с помощью профессиональных средств, подобранных для Ваших волос."
                data-img="img/services/2.png">
                <span class="price__name">Стрижка машинкой</span>
                <div class="price__info">
                  <span class="price__time">30 мин /</span>
                  <span class="price__price">1 000 ₽</span>
                </div>
              </li>

              <li class="price__item" data-title="Детская стрижка"
                data-text="Стрижка для наших маленьких клиентов в возрасте от 5 до 12 лет. Мастера выслушают Ваши пожелания или помогут подобрать стрижку подходящую типу лица и структуре волос. В стоимость стрижки входит мытье головы и укладка профессиональными средствами."
                data-img="img/services/3.png">
                <span class="price__name">Детская стрижка</span>
                <div class="price__info">
                  <span class="price__time">45 мин /</span>
                  <span class="price__cond">5-12 лет</span>
                  <span class="price__price">1 400 ₽</span>
                </div>
              </li>
            </ul>
          </div>

          <div class="price__table">
            <h4 class="price__title">Другое</h4>
            <ul class="price__list">
              <li class="price__item" data-title="Тонирование / камуфляж"
                data-text="Специальная услуга для того, чтобы скрыть седину или подчеркнуть форму бороды."
                data-img="img/services/3.png">
                <span class="price__name">Тонирование / камуфляж</span>
                <div class="price__info">
                  <span class="price__time">30 мин /</span>
                  <span class="price__price">1 000 ₽</span>
                </div>
              </li>

              <li class="price__item" data-title="Комплекс по уходу за кожей лица от London Grooming"
                data-text="Процедура проходит в 5 этапов. Очищение кожи с помощью специального средства, обогащенного алоэ вера. Нанесение маски с древесным углем, для очищение пор. Потом гель для области вокруг глаз и сыворотка, все наполненное витаминами А, С и другими полезными веществами. В конце нанесут увлажняющий крем, который выступает как барьер, удерживающий все ранее нанесенные продукты."
                data-img="img/services/4.png">
                <span class="price__name">Комплекс по уходу за кожей лица от London Grooming</span>
                <div class="price__info">
                  <span class="price__time">20 мин /</span>
                  <span class="price__price">1 400 ₽</span>
                </div>
              </li>
            </ul>
          </div>

          <div class="price__table">
            <h4 class="price__title">Борода</h4>
            <ul class="price__list">
              <li class="price__item" data-title="Оформление бороды и усов"
                data-text="При оформлении бороды и усов наши мастера, выслушают Ваши пожелания или предложат сделать форму бороды, подходящую именно Вам. В стоимость так же входит использование средств для ухода за бородой."
                data-img="img/services/5.png">
                <span class="price__name">Оформление бороды и усов</span>
                <div class="price__info">
                  <span class="price__time">45 мин /</span>
                  <span class="price__price">1 320 ₽</span>
                </div>
              </li>

            </ul>
          </div>
        </div>

        <div class="price__column">
          <div class="price__table">
            <h4 class="price__title">Комбо <span class="price__discount">(-10%)</span></h4>
            <ul class="price__list">
              <li class="price__item price__item-no-hover">
                <span class="price__name">Папа + сын</span>
                <div class="price__info">
                  <span class="price__time">50 мин /</span>
                  <span class="price__price price__price-old">3 300 ₽</span>
                  <span class="price__price">3 100 ₽</span>
                </div>
              </li>

              <li class="price__item price__item-no-hover">
                <span class="price__name">Стрижка + борода</span>
                <div class="price__info">
                  <span class="price__time">90 мин /</span>
                  <span class="price__price price__price-old">3 000 ₽</span>
                  <span class="price__price">2 900 ₽</span>
                </div>
              </li>

              <li class="price__item price__item-no-hover">
                <span class="price__name">Стрижка + бритье</span>
                <div class="price__info">
                  <span class="price__time">110 мин /</span>
                  <span class="price__price price__price-old">3 400 ₽</span>
                  <span class="price__price">3 200 ₽</span>
                </div>
              </li>

              <li class="price__item price__item-no-hover">
                <span class="price__name">Стрижка + уход</span>
                <div class="price__info">
                  <span class="price__time">70 мин /</span>
                  <span class="price__price price__price-old">3 400 ₽</span>
                  <span class="price__price">3 000 ₽</span>
                </div>
              </li>
            </ul>
          </div>

          <div class="price__table">
            <h4 class="price__title">Бритье</h4>
            <ul class="price__list">
              <li class="price__item" data-title="Бритье опасной бритвой"
                data-text="Процедура выполняется с помощью опасной бритвы. В стоимость входит нанесение средств, включающие эфирные масла, распаривание перед бритьем и увлажнение кожи после бритья с использованием специальных профессиональных средств из Италии."
                data-img="img/services/6.png">
                <span class="price__name">Бритье опасной бритвой</span>
                <div class="price__info">
                  <span class="price__time">40 мин /</span>
                  <span class="price__price">1 800 ₽</span>
                </div>
              </li>

              <li class="price__item" data-title="Бритье головы"
                data-text="Процедура выполняется с помощью опасной бритвы. В стоимость входит нанесение средств, включающие эфирные масла, распаривание перед бритьем и увлажнение кожи после бритья с использованием специальных профессиональных средств из Италии."
                data-img="img/services/6.png">
                <span class="price__name">Бритье головы</span>
                <div class="price__info">
                  <span class="price__time">50 мин /</span>
                  <span class="price__price">1 000 ₽</span>
                </div>
              </li>

            </ul>
          </div>

          <div class="price__table">
            <h4 class="price__title">Окрашивание</h4>
            <ul class="price__list">
              <li class="price__item" data-title="Осветление и окрашивание в один тон (короткие волосы)"
                data-text="Услуга подразумевает осветление и потом нанесение красителя выбранного цвета."
                data-img="img/services/7.png">
                <span class="price__name">Осветление и окрашивание в один тон (короткие волосы)</span>
                <div class="price__info">
                  <span class="price__time">3 часа /</span>
                  <span class="price__price">6 900 ₽</span>
                </div>
              </li>

              <li class="price__item" data-title="Сложные виды окрашивания"
                data-text="Осветление, имитирующее выгорание волос. Многоцветное окрашивание и другие сочетания разных техник окрашиваний. Конечная стоимость будет известна после консультации с мастером."
                data-img="img/services/8.png">
                <span class="price__name">Сложные виды окрашивания</span>
                <div class="price__info">
                  <span class="price__time">4 часа /</span>
                  <span class="price__price">от 8 900 ₽</span>
                </div>
              </li>

            </ul>
          </div>
        </div>

      </div>

      <div class="price__description description">
        <picture class="price__img">
          <source type="image/webp" srcset="img/1x1.webp" data-srcset="img/services/1.webp" />
          <img class="lazy" src="img/1x1.webp" data-src="img/services/1.png" alt="service 1" width="255" />
        </picture>
        <div class="description__title">Первая стрижка</div>
        <p class="description__text">Мастера barbershop работают со стрижками любого уровня сложности и стиля. Ребята
          внимательно
          выслушают
          предпочтения или помогут подобрать ту стрижку, которая подойдет вашему типу лица, структуре волос и стилю
          жизни. Помимо самой стрижки в услугу входит мытье головы, а так же укладка профессиональными средствами из
          США, Нидерландов и Великобритании.</p>
      </div>
    </div>

    <div class="price__condition">
      <img src="img/icons/info-icon.svg" alt="info" width="15" height="15">
      <p>При записи к старшему мастеру +10% к стоимости услуг</p>
    </div>

  </div>
</section>